<header class="mainHeader">
    <button class="activadorHeaderMain" onclick="DisplayMenu()">
        <div class="linea"></div>
        <div class="linea"></div>
        <div class="linea"></div>
    </button>
    <nav id="Desplegable">
        <div class="navs"><a href="">Time line</a></div>
        <div class="navs"><a href="">Services</a></div>
        <div class="navs"><a href="">Money</a></div>
        <div class="navs"><a href="">Manager finances</a></div>
        <div class="navs"><a href="">Individual purchases</a></div>
        <div class="navs"><a href="">Profile</a></div>
        
    </nav>
    <div id="Foto">
        <img src="../img/service.png" alt="Logo">
        </div>
</header>