<header class="mainHeader">
    <button class="activadorHeaderMain" onclick="DisplayMenu()">
        <div class="linea"></div>
        <div class="linea"></div>
        <div class="linea"></div>
    </button>
    <nav id="Desplegable">
        <div class="navs"><a href="">Time line</a></div>
        <div class="navs"><a href="">Services</a></div>
        <div class="navs"><a href="">Money</a></div>
        <div class="navs"><a href="">Manage incomes</a></div>
        <div class="navs"><a href=""></a>Individual pucharses</div>
        <div class="navs"><a href="">Profile</a></div>
        
    </nav>
    <div class="Foto">
        <img src="service.png" alt="Logo">
        </div>
</header>