<header class="mainHeader">
    <button class="activadorHeaderMain" onclick="DisplayMenu()">HOLA</button>
    <nav id="Desplegable">
        <div class="LineaTiempo"><a href="">Linea de Tiempo</a></div>
        <div class="Servicios"><a href=""></a>Servicios</a></div>
        <div class="TuDinero"><a href=""></a>Tu dinero</a></div>
        <div class="AjustarIngresos"><a href=""></a>Ajustar Ingresos</a></div>
        <div class="ComprasIndividuales"><a href=""></a>Compras Individuales</a></div>
        <div class="Notificaciones"><a href=""></a>Notificaciones</a></div>
    </nav>
    <div class="Foto">
        <img src="img/logo.png" alt="Logo">
        </div>
</header>