<header class="mainHeader">
    <button class="activadorHeaderMain" onclick="DisplayMenu()">
        <div class="linea"></div>
        <div class="linea"></div>
        <div class="linea"></div>
    </button>
    <nav id="Desplegable">
        <div class="navs"><a href="">Linea de Tiempo</a></div>
        <div class="navs"><a href="">Servicios</a></div>
        <div class="navs"><a href="">Tu dinero</a></div>
        <div class="navs"><a href="">Ajustar Ingresos</a></div>
        <div class="navs"><a href="">Compras Individuales</a></div>
        <div class="navs"><a href="">Perfil </a></div>
        
    </nav>
    <div id="Foto">
        <img src="../img/service.png" alt="Logo">
        </div>
</header>