<header>
    <nav>
        <div class="LineaTiempo">Linea de Tiempo</div>
        <div class="Servicios">Servicios</div>
        <div class="TuDinero">Tu dinero</div>
        <div class="AjustarIngresos">Ajustar Ingresos</div>
        <div class="ComprasIndividuales">Compras Compras Individuales</div>
    </nav>
</header>